<form method="post" name="suggestion_form" action="suggestion"> 
	<label for="suggestion_subject">Předmět podnětu:</label>
	<input type="text" name="suggestion_subject" id="suggestion_subject"><br>
	<label for="suggestion_text">Text podnětu:</label><br>
	<input type="textarea"  name="suggestion_text" id="suggestion_text"><br>
    <input type="submit" value="Odeslat">
</form>

